.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 90vh;
  margin-bottom: 8rem;
  margin-top: 9rem;
  margin-bottom: 13rem;
}

.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: start; /*Tambahan*/
}

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}

.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
}

.awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 13px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}

/* Sisi kanan, Tempat buat card  */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

/*Posisi Card*/
.Card1 {
  left: 14rem;
}

.Card2 {
  top: 12rem;
  left: -4rem;
}

.Card3{
  top: 19rem;
  left: 14rem;
}

/* blur */
.s-blur1 {
  top: 13rem;
  left: -18rem;
}

.s-blur2 {
  left: 14rem;
  top: 8rem;
}

@media screen and (max-width: 576px) {
  .services {
    margin-top: 0;
    flex-direction: column;
    gap: 5rem;
    height: 57rem;
    padding: 0;
  }
  .awesome > span:nth-child(3) {
    width: 100%;
  }
  .awesome > span:nth-child(1) {
    font-size: 10vw;
  }
  .awesome > span:nth-child(2) {
    font-size: 10vw;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
    transform: scale(0.8);
  }
  .cards > * {
    position: static;
  }
}