.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem; /* Untuk mengatur Ukuran footer dari kanan ke kiri*/
    position: relative;
    margin-top: -7rem;
}

.f-content{
    position: absolute;
    display: flex;
    justify-content: center;/*mengatur coloms agar beerada di tengah footer*/
    align-items: center; /*Mengatur item dlm colom*/
    flex-direction: column; /*mengatur tiap tag menjadi 1 kolom*/
    width: 100%;
    margin-top: 4rem;
    gap: 4rem; /*jarak antara span dengan img*/
    color:white;
}

.f-icons{
    display: flex;
    gap: 2rem; /*mengatur jarak antara kiri dan kanan tiap img*/
}